html, body {
	height: 100%;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #ffffff 0%, #fbfefe 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #ffffff 0%, #fbfefe 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #ffffff 0%, #fbfefe 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #ffffff), color-stop(1, #fbfefe));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #ffffff 0%, #fbfefe 100%);
	background-image: radial-gradient(circle farthest-corner at center, #ffffff 0%, #fbfefe 100%);
}

header, footer, svg, #sort-options, #scale-options {
	background: url(../img/gradient_squares.png) repeat !important;
}

#settings {
	margin: 0;
}

#settings-content {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	height: 214px;
	overflow: visible;
}

#base-chart svg {
	cursor: pointer;
}

svg, #sort-options, #scale-options {
	border: 1px solid #999;
	border-radius: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: #fdfdfd;
}

:focus {
	outline: 0 !important;
}

.page-header {
	margin: 0 0 10px;
	padding: 0;
}

.lead {
	font-size: 20px;
	line-height: 1.3;
}

#center-note-name-display {
	padding-right: 5px;
}

#base-chart,
#sort-chart {
	height: 200px;
	padding: 10px 0;
}

#base-chart svg,
#sort-chart svg {
	width: 100%;
	height: 100%;
}

#base-chart svg rect,
#sort-chart svg rect {
	fill: steelblue;
	stroke: white;
}

#sort-chart svg circle {
	stroke: #333;
}

.api-marker {
	width: 40px;
	height: 40px;
	border: 3px solid #333;
}

.api-marker.mark {background-color: #fefefe;}
#sort-chart svg circle.mark {fill: #fefefe;}

.api-marker.compare {background-color: #FAA732;}
#sort-chart svg circle.compare {fill: #FAA732;}

.api-marker.swap {background-color: yellow;}
#sort-chart svg circle.swap {fill: yellow;}

.api-marker.justSwapped {background-color: #5BB75B;}
#sort-chart svg circle.justSwapped {fill: #5BB75B;}

.api-marker.highlight {background-color: purple;}
#sort-chart svg circle.highlight  {fill: purple;}

#base-chart svg rect.play,
#sort-chart svg rect.play {
	fill: #c80000;
}

#base-player,
#base-buttons,
#sort-player {
	text-align: center;
}

#base-buttons .btn {
	margin: 3px 0;
}

.position-container {
	margin: 0 2%;
}

#scale-display {
	margin-bottom: 3px;
}

#sort-options, #scale-options {
	height: 200px;
	overflow: auto;
	margin: 0;
}

#scale-options {
	margin-top: 8px;
	height: 160px;
}

#scale-options > li {
	font-size: 12px;
	line-height: 16px;
}

#scale-options > li a {
	margin: 0;
	padding: 5px 12px;
}

#scale-filter {
	width: 90%;
}

#sort-options-header {
	margin-bottom: 10px;
}

.btn {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px;
}

#scale-select {
	width: 100%;
}

header {
	background: #e6e6e6;
	border-bottom:1px solid #999;
}

header h1 a.home-link {
	color: #333;
}

header h1 small a {
	font-size: 20px;
	color: #c80000;
}

header .breadcrumb {
	background: transparent;
	margin: 6px 0 12px 0;
	padding: 0;
	text-align: right;
}

#social-header {
	float: right;
	display: block;
}

.mobile-break {
	display: none;
	height: 3px;
	overflow: hidden;
}

#footer-spacer, footer {
	position:relative;
	height: 45px;
}

footer {
	bottom:0;
	left:0;
	background-color: #e6e6e6;
}

footer .footer-built-with {
	margin: 10px;
	float: left;
}

footer .footer-copy {
	margin: 10px;
	float: right;
}

footer .footer-copy img {
	width: 16px;
	height: 16px;
}

footer hr {
	padding: 0;
	margin: 0;
	border-color: #999;
	border-style: inset;
}

#sort-information, #sort-algorithm, #sort-links, #new-sort-algorithm {
	min-height: 300px;
	width: 100%;
}

#sort-information th {
	text-align: right;
	width: 100px;
}

#sort-algorithm div.js-editor, #new-sort-algorithm div.js-editor {
	height: 300px;
	width: 95%;
}

#add-algorithm-btn, #sort-autoplay {
	margin-top: 5px;
}

.table thead th {
	background: #d9edf7;
}

.max-divider {
	border-top: 1px solid #333;
}
