<!-- footer -->
<footer id="footer">
  <hr />
  <div class="container">
    <!-- built with -->
    <div class="footer-built-with">
      built with:
      <a target="_blank" href="https://mohayonao.github.io/timbre.js/">timbre.js</a>,
      <a target="_blank" href="https://d3js.org/">D3</a>,
      <a target="_blank" href="https://react.dev/">React</a>,
      <a target="_blank" href="https://tailwindcss.com/">Tailwind CSS</a>, and
      <a target="_blank" href="https://github.com/skratchdot/audio-sort/#built-with">others</a>
    </div>
    <!-- copyright -->
    <div class="footer-copy">
      &copy; 2013
      <a class="footer-icon" href="http://skratchdot.com/">
        skratchdot
        <img alt="skratchdot" src="img/favicon.ico" />
      </a>
    </div>
  </div>
</footer>

<!-- include scripts -->
{% if init_audio_sort == true %}
<script type="module" src="/js/main.mjs"></script>
{% endif %}
