<!-- footer -->
<footer id="footer">
  <hr />
  <div class="container">
    <!-- built with -->
    <div class="footer-built-with">
      built with:
      <a target="_blank" href="http://mohayonao.github.io/timbre.js/">timbre</a>,
      <a target="_blank" href="http://mohayonao.github.io/subcollider.js/">subcollider</a>,
      <a target="_blank" href="http://d3js.org/">d3</a>,
      <a target="_blank" href="http://jquery.com/">jquery</a>,
      <a target="_blank" href="http://twitter.github.com/bootstrap/">bootstrap</a>,
      <a target="_blank" href="http://www.eyecon.ro/bootstrap-slider/">bootstrap-slider</a>, and
      <a target="_blank" href="https://github.com/skratchdot/audio-sort/#built-with">others</a>
    </div>
    <!-- copyright -->
    <div class="footer-copy">
      &copy; 2013
      <a class="footer-icon" href="http://skratchdot.com/">
        skratchdot
        <img alt="skratchdot" src="img/favicon.ico" />
      </a>
    </div>
  </div>
</footer>

<!-- include scripts -->
<script type="text/javascript" charset="utf-8" src="/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap-slider.min.js"></script>
<!--
	<script type="text/javascript" charset="utf-8" src="/js/fastclick.min.js"></script>
	-->
<script type="text/javascript" charset="utf-8" src="/js/timbre.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/audio-jsonp.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/timbre.mp3_decode.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/timbre.soundfont.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/subcollider.min.js"></script>
{% if init_audio_sort == true %}
<script type="module" src="/js/main.mjs"></script>
{% endif %}
