<header id="header">
  <div class="container">
    <div class="row">
      <div id="header-title" class="span6">
        <h1>
          <a href="index.html" class="home-link">Audio Sort</a>
          <small>
            <a id="header-author" href="http://skratchdot.com/">
              <span>by skratchdot</span><sub>✪</sub>
            </a>
          </small>
        </h1>
      </div>
      <div id="header-nav" class="span6">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a> <span class="divider">/</span></li>
          <li><a href="about.html">About</a> <span class="divider">/</span></li>
          <li><a href="api.html">API</a> <span class="divider">/</span></li>
          <li><a href="https://github.com/skratchdot/audio-sort/" target="_blank">Source</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
