---
layout: default
---
{% include header.html %}
<section class="container" id="base-section">
	<div class="page-header">
		<h4>
			Audio Data
			<small>
				modify the data set you will be sorting.
				preview how the data sounds and set playback options.
			</small>
		</h4>
	</div>
	<div class="row">
		<div class="span4">
			<ul id="settings" class="nav nav-tabs">
				<li class="active"><a href="#audio" data-toggle="tab">Audio</a></li>
				<li><a href="#scale" data-toggle="tab">Scale</a></li>
				<li><a href="#saved" data-toggle="tab">Save</a></li>
			</ul>
			<div id="settings-content" class="tab-content">
				<div class="tab-pane active" id="audio">
					<div>
						<strong>Volume:</strong>
						<em id="volume-display" class="pull-right">&nbsp;</em>
					</div>
					<div id="volume-container"></div>
					<div>
						<strong>Tempo:</strong>
						<em id="tempo-display" class="pull-right">&nbsp;</em>
					</div>
					<div id="tempo-container"></div>
					<div>
						<strong>Center Note:</strong>
						<em id="center-note-display" class="pull-right">&nbsp;</em>
					</div>
					<div id="center-note-container"></div>
					<div>
						<strong>Data Size:</strong>
						<em id="data-size-display" class="pull-right">&nbsp;</em>
					</div>
					<div id="data-size-container"></div>
					<div>&nbsp;</div>
				</div>
				<div class="tab-pane" id="scale">
					<div style="margin-bottom:5px;">
					    <strong class="pull-left">Scale:</strong>
					    <em id="scale-display" class="pull-right">&nbsp;</em>
					    <div class="clearfix"></div>
					</div>
					<input id="scale-filter" type="text" class="input-medium search-query" placeholder="Filter Scale Names" />
					<ul id="scale-options" class="nav nav-pills nav-stacked">
					</ul>
				</div>
				<div class="tab-pane" id="saved">
					<h3>Coming Soon.</h3>
					<h4>Soon you will be able to save and load settings from this panel.</h4>
				</div>
			</div>
		</div>
		<div class="span8">
			<div id="base-player" class="player-buttons">
				{% include player-buttons.html %}
				<div class="mobile-break">&nbsp;</div>
				<span data-action="loop" class="btn btn-mini active"><i class="icon-repeat"></i> Loop?</span>
				<div class="mobile-break">&nbsp;</div>
				<div class="pull-right">
					<span class="position-current"></span>
					/
					<span class="position-max"></span>
				</div>
			</div>
			<div id="base-chart"><svg id="base-svg"></svg></div>
			<div class="position-container"></div>
			<div id="base-buttons">
				<span class="btn btn-mini btn-primary" data-action="sorted">Sorted</span>
				<span class="btn btn-mini btn-primary" data-action="reverse">Reverse</span>
				<span class="btn btn-mini btn-primary" data-action="randomUnique">Random (Unique)</span>
				<span class="btn btn-mini btn-primary" data-action="randomDupes">Random (Dupes)</span>
				<span class="btn btn-mini btn-primary" data-action="almostSorted">Almost Sorted</span>
				<span class="btn btn-mini btn-primary" data-action="fewUnique">Few Unique</span>
			</div>
		</div>
	</div>
</section>
<section class="container" id="sort-section">
	<div class="page-header">
		<h4>
			Sorting
			<small>
				choose a sorting algorithm to visualize and
				audibilize how the algorithm works.
			</small>
		</h4>
	</div>
	<div class="row">
		<div class="span3">
			<div id="sort-options-header" class="clearfix">
				<strong>Sort:</strong>
				<div id="sort-modal-open" class="pull-right btn btn-info btn-mini pull-right">
					<em id="sort-display">&nbsp;</em>
					<i class="icon-white icon-info-sign"></i>
				</div>
				<div class="clearfix" style="height:1px;overflow:hidden;float:none;">&nbsp;</div>
			</div>
			<ul id="sort-options" class="nav nav-pills nav-stacked"></ul>
			<div>
				<div id="sort-autoplay" data-toggle="button" class="btn btn-mini">AutoPlay?</div>
				<div id="add-algorithm-btn" class="pull-right btn btn-mini btn-primary">
					Add Algorithm
					<i class="icon-white icon-plus-sign"></i>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="span1 text-center">
			<div class="btn-group" data-toggle="buttons-radio" style="margin-bottom:10px;">
				<button type="button" class="btn btn-mini sort-visualization active" data-visualization="bar"><i class="icon-signal"></i></button>
				<button type="button" class="btn btn-mini sort-visualization"  data-visualization="flat"><i class="icon-list"></i></button>
			</div>

			<div><strong>Position:</strong></div>
			<span class="position-current">&nbsp;</span>
			<br />
			<span class="position-max max-divider">&nbsp;</span>

			<div><strong>Compares:</strong></div>
			<span class="compare-current">&nbsp;</span>
			<br />
			<span class="compare-max max-divider">&nbsp;</span>

			<div><strong>Swaps:</strong></div>
			<span class="swap-current">&nbsp;</span>
			<br />
			<span class="swap-max max-divider">&nbsp;</span>
		</div>
		<div class="span8">
			<div id="sort-player" class="player-buttons">
				<div class="pull-left">
					c:
					<span class="compare-current"></span>
					/
					s:
					<span class="swap-current"></span>
				</div>
				<div class="mobile-break">&nbsp;</div>
				{% include player-buttons.html %}
				<div class="mobile-break">&nbsp;</div>
				<span data-action="loop" class="btn btn-mini active"><i class="icon-repeat"></i> Loop?</span>
				<div class="mobile-break">&nbsp;</div>
				<div class="pull-right">
					<span class="position-current"></span>
					/
					<span class="position-max"></span>
				</div>
			</div>
			<div id="sort-chart"><svg id="sort-svg"></svg></div>
			<div class="position-container"></div>
		</div>
	</div>
</section>
{% include modals.html %}
{% include footer.html %}