		<div id="footer-spacer">&nbsp;</div>
	</div>
	<!-- footer -->
	<footer>
		<hr />
		<div class="container">
			<!-- built with -->
			<div class="footer-built-with">
				built with:
				<a target="_blank" href="http://mohayonao.github.io/timbre.js/">timbre</a>,
				<a target="_blank" href="http://mohayonao.github.io/subcollider.js/">subcollider</a>,
				<a target="_blank" href="http://d3js.org/">d3</a>,
				<a target="_blank" href="http://jquery.com/">jquery</a>,
				<a target="_blank" href="http://twitter.github.com/bootstrap/">bootstrap</a>,
				<a target="_blank" href="http://www.eyecon.ro/bootstrap-slider/">bootstrap-slider</a>,
				<a target="_blank" href="http://harvesthq.github.io/chosen/">chosen</a>
			</div>
			<!-- copyright -->
			<div class="footer-copy">
				&copy; 2013 <a class="footer-icon" href="http://skratchdot.com/">
					skratchdot
					<img alt="skratchdot" src="img/favicon.ico" />
				</a>
			</div>
		</div>
	</footer>

	<!-- include scripts -->
	<script type="text/javascript" charset="utf-8" src="dist/libs.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="dist/ace/ace.js"></script>
	<script type="text/javascript" charset="utf-8" src="dist/sort.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {
			AudioSort.init('dist/worker.js');
		});
	</script>
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-10768188-4', 'skratchdot.github.io');
		ga('send', 'pageview');
	</script>
	{% if include_addthis == true %}
	<script type="text/javascript">
		var addthis_config = {"data_track_addressbar":true};
		var addthis_share = {url:'http://skratchdot.com/projects/audio-sort/'};
		$(document).ready(function () {
			$.ajaxSetup({ cache: true });
			$.getScript('http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f95a18f2f5627c9&domready=1&async=1', function () {
				addthis.init();
			});
		});
	</script>
	{% endif %}
</body>
</html>