<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Audio Sort by skratchdot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="audio, sorting algorithms, visualizations" />
	<meta name="author" content="skratchdot.com" />
	<link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
	<!-- styles -->
	<link href="dist/styles.min.css" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		<!-- header -->
		<header>
			<div class="container">
				<div class="row">
					<div id="header-title" class="span6">
						<h1>
							<a href="index.html" class="home-link">Audio Sort</a>
							<small><a href="http://skratchdot.com/">by skratchdot</a></small>
						</h1>
					</div>
					<div id="header-nav" class="span6">
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a> <span class="divider">/</span></li>
							<li><a href="about.html">About</a> <span class="divider">/</span></li>
							<li><a href="api.html">API</a> <span class="divider">/</span></li>
							<li><a href="https://github.com/skratchdot/audio-sort/" target="_blank">Source</a></li>
						</ul>
						<div id="social-header" class="addthis_toolbox addthis_default_style">
							<a class="addthis_button_preferred_1"></a>
							<a class="addthis_button_preferred_2"></a>
							<a class="addthis_button_preferred_3"></a>
							<a class="addthis_button_preferred_4"></a>
							<a class="addthis_button_compact"></a>
							<a class="addthis_counter addthis_bubble_style"></a>
						</div>
					</div>
				</div>
			</div>
		</header>