<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Audio Sort by skratchdot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="audio, sorting algorithms, visualizations" />
	<meta name="author" content="skratchdot.com" />
	<link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
	<!-- styles -->
	<link href="dist/styles.min.css" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		<!-- header -->
		<header>
			<div class="container">
				<div class="row">
					<div id="header-title" class="span6">
						<h1>
							<a href="index.html" class="home-link">Audio Sort</a>
							<small>
								<a id="header-author" href="http://skratchdot.com/">
									<span>by skratchdot</span><sub>✪</sub>
								</a>
							 </small>
						</h1>
					</div>
					<div id="header-nav" class="span6">
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a> <span class="divider">/</span></li>
							<li><a href="about.html">About</a> <span class="divider">/</span></li>
							<li><a href="api.html">API</a> <span class="divider">/</span></li>
							<li><a href="https://github.com/skratchdot/audio-sort/" target="_blank">Source</a></li>
						</ul>
						<div id="social-header">
							<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-4f95a18f2f5627c9"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
						</div>
					</div>
				</div>
			</div>
		</header>