<div id="modal-add-algorithm" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Add Algorithm:</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="new-sort-name">Algorithm Name:</label>
				<div class="controls">
					<input type="text" id="new-sort-name" placeholder="New Sort Name" />
				</div>
			</div>
		</form>
		<div id="new-sort-algorithm">
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0);" data-dismiss="modal" class="btn">Close</a>
		<a href="javascript:void(0);" class="btn btn-primary" id="save-algorithm-new">Save changes</a>
	</div>
</div>