<div class="tab-pane active" id="audio">
	<div>
		<strong>Volume:</strong>
		<em id="volume-display" class="pull-right">&nbsp;</em>
	</div>
	<div id="volume-container"></div>
	<div>
		<strong>Tempo:</strong>
		<em id="tempo-display" class="pull-right">&nbsp;</em>
	</div>
	<div id="tempo-container"></div>
	<div>
		<strong>Center Note:</strong>
		<em id="center-note-display" class="pull-right">&nbsp;</em>
	</div>
	<div id="center-note-container"></div>
	<div>
		<strong>Data Size:</strong>
		<em id="data-size-display" class="pull-right">&nbsp;</em>
	</div>
	<div id="data-size-container"></div>
	<div>
		<strong>Audio Type:</strong>
		<em id="audio-type-display" class="pull-right">&nbsp;</em>
	</div>
	<div id="audio-type-container" class="text-center">
		<div class="btn-group" data-toggle="buttons-radio">
			<button data-audio-type="waveform" type="button" class="btn btn-mini active">Waveform</button>
			<button data-audio-type="soundfont" type="button" class="btn btn-mini" disabled="disabled">SoundFont</button>
		</div>
		<br />
		<small class="pull-right"><a id="audio-type-tab-link" href="javascript:void(0);">waveform settings</a></small>
	</div>
</div>
