<div class="tab-pane" id="waveform">
	<div class="pull-left waveform-section">
		<div>
			<strong>Attack:</strong>
			<em id="waveform-adshr-attack-display" class="pull-right">&nbsp;</em>
		</div>
		<div data-adshr="a" id="waveform-adshr-attack-container"></div>

		<div>
			<strong>Decay:</strong>
			<em id="waveform-adshr-decay-display" class="pull-right">&nbsp;</em>
		</div>
		<div data-adshr="d" id="waveform-adshr-decay-container"></div>

		<div>
			<strong>Sustain:</strong>
			<em id="waveform-adshr-sustain-display" class="pull-right">&nbsp;</em>
		</div>
		<div data-adshr="s" id="waveform-adshr-sustain-container"></div>

		<div>
			<strong>Hold:</strong>
			<em id="waveform-adshr-hold-display" class="pull-right">&nbsp;</em>
		</div>
		<div data-adshr="h" id="waveform-adshr-hold-container"></div>

		<div>
			<strong>Release:</strong>
			<em id="waveform-adshr-release-display" class="pull-right">&nbsp;</em>
		</div>
		<div data-adshr="r" id="waveform-adshr-release-container"></div>
	</div>
	<div class="pull-right waveform-section">
		<canvas id="waveform-adshr-canvas"></canvas>
		<canvas id="waveform-canvas"></canvas>
		<div class="btn-group" data-toggle="buttons-radio">
		</div>
	</div>
</div>