<span data-action="goToFirst" class="btn btn-mini btn-success">
	<i class="icon-white icon-fast-backward"></i>
</span>
<span data-action="reverse" class="btn btn-mini btn-success">
	<i class="icon-white icon-step-backward"></i>
	Reverse
</span>
<span data-action="stop" class="btn btn-mini btn-success">
	<i class="icon-white icon-stop"></i>
	Stop
</span>
<span data-action="play" class="btn btn-mini btn-success">
	Play
	<i class="icon-white icon-step-forward"></i>
</span>
<span data-action="goToLast" class="btn btn-mini btn-success">
	<i class="icon-white icon-fast-forward"></i>
</span>
